<html>
<head>
    <meta charset="utf-8">
    <title>The Best Palindrome Checker in the World!</title>
    <link rel="stylesheet" href="../../public/site.css">
</head>
<body>
    <header>
            <h1>The Best Palindrome Checker in the World!</h1>
    </header>
    <main>
            <p>A palindrome is a word, number, phrase, or other sequence of characters which reads the same backward as forward.</p>
            <form id="palindrome-checker">
                <label>
                    Enter string to check:
                    <br/>
                    <textarea rows="4" cols="50" name="phrase">Enter text to test</textarea>
                </label>
                <br/>
                <button type="submit">Check</button>
            </form>
            <div class="error" id="errors">
            </div>
            <h3>Attempts</h3>
            <ol id="attempts">
            </ol>
    </main>
    <footer>
        <p>Hem Shah - 10432319</p>
    </footer>
    <script src="/public/palindrome.js"></script>
</body>
</html> 